[general]
    raw_prefix = ""
    prefix = "<gradient:#F2E205:#F2A30F>OnlineTime</gradient> <color:#555197>| "
    console_prefix = "<gray>[<yellow>OnlineTime</yellow>] "
    sucessful_prefix = "<dark_gray>[</dark_gray><dark_green><bold>✔</bold><dark_gray>]</dark_gray>"
    warn_prefix = "<dark_gray>[</dark_gray><gold><bold>!</bold><dark_gray>]</dark_gray>"
    error_prefix = "<dark_gray>[</dark_gray><dark_red><bold>✘</bold><dark_gray>]</dark_gray>"
    unknown_message = "$error_prefix <gradient:dark_red:red>Unknown message!"
    header = "<bold><gradient:#F09D00:#F8BD04><st>                    </st></gradient></bold> <gradient:#F2E205:#F2A30F>OnlineTime</gradient> <bold><gradient:#F8BD04:#F09D00><st>                    </st></gradient></bold>"
[command]
    only_players = "$error_prefix <dark_red>Only players can use this command."
    player_not_found = "$error_prefix <dark_red>Player not found!"
    player_not_found_server = "$error_prefix <dark_red>Player onlinetime is invalid on <gold>$server</gold>!"
    valid_parameters = "$error_prefix <gradient:dark_red:red>Please use a valid parameter for this command. <dark_gray>($argument)"
    no_permission = "$error_prefix <gradient:dark_red:red>You don't have permission to use this command! <dark_gray>($permission)"
    [command.onlinetime]
        usage = "$warn_prefix <gradient:dark_red:red>Usage: <gold>/onlinetime <yellow><args>"
        use = "$successful_prefix <gradient:dark_green:green>Your total onlinetime is: <gold>$time"
        [command.onlinetime.server]
            use = "$successful_prefix <gradient:dark_green:green>Your onlinetime on <gold>$server</gold> is: <gold>$time"
        [command.onlinetime.week]
            use = "$successful_prefix <gradient:dark_green:green>Your onlinetime this week is: <gold>$time"
        [command.onlinetime.get]
            use = "$successful_prefix <gradient:dark_green:green>$player's total onlinetime is: <gold>$time"
            [command.onlinetime.get.server]
                use = "$successful_prefix <gradient:dark_green:green>$player's total onlinetime in $server is: <gold>$time"
    [command.onlinetime.top]
        use = "<color:#EE9900>[<color:#F9BD03>$position<color:#EE9900>] <color:#C1D6F1>$player</color><color:#00F3FF> | </color> <color:#C0D3EF>$time"
        [command.onlinetime.top.week]
            use = "<color:#EE9900>[<color:#F9BD03>$position<color:#EE9900>] <color:#C1D6F1>$player</color><color:#00F3FF> | </color> <color:#C0D3EF>$time"
[discord]
    [discord.weekly]
        title = "$network OnlineTime | $date"
        url = ""
        color = "#F2E205"
        description = [
            "⏱️ Top weekly onlinetime challenge ends!",
            "",
            "",
            "$winner won this week onlinetime top with $time",
        ]
        footer = "$network | OnlineTime"
        thumbnail = "http://cravatar.eu/avatar/$winner/64.png"
        content = [
            "<@&758758796167348285>"
        ]
    [discord.daily]
        title = "player Daily OnlineTime | $date"
        url = ""
        color = "#F2A30F"
        description = [
            "Total online time for $player is $time",
            "",
        ]
        footer = "$network | OnlineTime"
        thumbnail = "http://cravatar.eu/avatar/$player/64.png"
        content = []
[server]
    [server.weekly]
        content = [
            "<bold><gradient:#F09D00:#F8BD04><st>                    </st></gradient></bold>",
            " <gradient:#F2E205:#F2A30F>OnlineTime</gradient> ",
            "<bold><gradient:#F8BD04:#F09D00><st>                    </st></gradient></bold>",
            "$prefix<bold><color:#F2E205>$username Won weekly playtime reward!"
        ]